*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  --font-color: #fff;
  --hover-logo-color: rgba(255, 55, 0, 1);
  --primary-color: #000;
  --hover-button-color: rgba(211, 211, 211, 0.3);
  --select-button-color: rgba(211, 211, 211, 0.2);
  --hover-decoration-color: rgba(75, 157, 250, 0.8);
  --hover-text-color: rgba(242, 198, 85, 1);
  --nav-height: 80px;
  --logo-flex-basis: 100px;
}

.company-logo {
  color: var(--font-color);
  flex-basis: var(--logo-flex-basis);
  padding-left: 1.5rem;
  cursor: pointer;
}

.company-logo:hover {
  color: var(--hover-logo-color);
}
.nav-container {
  background: var(--primary-color);
  display: flex;
  flex-direction: row;
  height: var(--nav-height);
  justify-content: left;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.nav-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc(100vw - var(--logo-flex-basis));
}

.button {
  width: 5rem;
  height: var(--nav-height);
  border: none;
  background: var(--primary-color);
  color: var(--font-color);
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button > span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.button:hover > span {
  background: var(--hover-button-color);
  color: var(--hover-text-color);
}

.button::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--hover-decoration-color);
  border-radius: 9999999999999999px;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.button:hover::before {
  transform: scaleX(1);
}
